h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: "Merienda One", cursive;
}

h2 {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}

p,
a {
    font-size: 1.6rem;
}

li {
    font-size: 1.4rem;

    p,
    h3 {
        font-size: 1.4rem;
    }
}
